* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px;
  text-align: left;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #333;
  color: #333;
  cursor: pointer;
}
